<div class="landing-container">
    <div id="header" class="section flex flex-column">
        <div class="header-menu-container flex align-items-center justify-content-between">
        </div>

        <div class="header-text flex flex-column align-items-center justify-content-center">
            <h1 class="mb-6 white-color">Bienvenido al PORTAL</h1>
        </div>
    </div>

    <div id="features" class="section flex flex-column align-items-center">
        <h2>{{this.userDetails.nombre}}</h2>
        <p class="text-center">{{this.userDetails.rol}}</p>
    </div>
</div>

